{{#each erros}}
  <div class="alert alert-danger">
    {{texto}}
  </div>
{{else}}
{{/each}}
<h3>Editar postagem</h3><br>
<div class="card">
  <div class="card-body">
    <form action="/admin/postagens/edit" method="post">
      <input type="hidden" name="id" value="{{postagem._id}}">
      <label for="titulo">Título: </label>
        <input type="text" name="titulo" class="form-control" value="{{postagem.titulo}}" required>
      <label for="slug">Slug: </label>
        <input type="text" name="slug" class="form-control" value="{{postagem.slug}}" required>
      <label for="descricao">Descrição: </label>
        <input type="text" name="descricao" class="form-control" value="{{postagem.descricao}}" required>
      <label for="conteudo">Conteúdo: </label>
        <textarea name="conteudo" class="form-control" required>{{postagem.conteudo}}</textarea>
      <label for="categoria">Categoria: </label>
      <select class="custom-select" name="categoria">
        {{#each categorias}}
          <option value="{{_id}}">{{nome}}</option>
        {{else}}
          <option value="0">Nenhuma categoria registrada.</option>
        {{/each}}
      </select>
      <button type="submit" class="btn btn-success mt-3">Editar postagem</button>
    </form>
  </div>
</div>
