
{{#each postagens}}
<div class="card mt-4">
  <div class="card-body">
    <h3>{{titulo}}</h3>
    <p>{{descricao}}</p>
    <a href="/postagem/{{slug}}"><button type="button" class="btn btn-info">Leia mais...</button></a>
    <hr>
    <small>Data de publicação: {{data}}</small>
  </div>
</div>
{{else}}
  <h4>Nenhuma postagem</h4>
{{/each}}
